@import "tailwindcss";

#appLotomania {
  color: var(--color-zinc-50);
  background-color: #16171d;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}